body{
    background-color: black;
    color: rgb(158, 157, 157);
    text-align: center;
}
img{
    height: 400px;
    width: 50%;
    margin: auto;
}
.container{
    text-align: center;
}
button{
    width: 300px;
    padding: 10px;
    font-size: 20px;
}
    